<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/Users/post" method="post">
    用户名: <input type="text" name="userName" placeholder="请输入用户名"><br>
    邮 &nbsp;&nbsp;箱: <input type="text" name="userEmail" placeholder="请输入邮箱"><br>
    手机号: <input type="text" name="userMobile" placeholder="请输入手机号"><br>
    年 &nbsp;&nbsp;龄: <input type="text" name="userEge" placeholder="请输入年龄"><br>
    地 &nbsp;&nbsp;址: <input type="text" name="address" placeholder="请输入地址"><br>
    <input type="submit">
</form>
</body>
</html>