<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
    <h1>用户注册</h1>
    <form action="reg" method="post">
        <input type="text" name="u_name" placeholder="用户名"><br>
        <input type="email" name="u_email" placeholder="邮箱"><br>
        <input type="text" name="u_mobile" placeholder="手机号"><br>
        <input type="text" name="u_age" placeholder="年龄"><br>
        <input type="password" name="u_pass1" placeholder="密码"><br>
        <input type="password" name="u_pass2" placeholder="确认密码"><br>
        <input type="text" name="u_address" placeholder="请输入地址"><br>
        <input type="reset" value="重置">
        <input type="submit" value="提交">
    </form>
</body>
</html>